@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araba Listesi</h4>
                        <p class="card-subtitle mb-4">
                           Arabalarla ilgili ekleme,silme,güncelleme,arama ve listeleme gibi işlemleri bu sayfa üzerinden gerçekleştirebilirsiniz
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Araç Modeli</th>
                                        <th>Aracın Markası</th>
                                        <th>Vites Türü</th>
                                        <th>Kilometre</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Detaylar</th>
                                        <th>Sitede Gör</th>
                                        <th>Fiyat Bilgileri</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var data in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@data.CarModel</td>
                                            <td>@data.BrandName</td>
                                            <td>@data.Transmission</td>
                                            <td>@data.Kilometer</td>
                                            <td><a href="/AdminCar/DeleteCar/@data.CarId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/AdminCar/UpdateCar/@data.CarId" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/CarList/Detail/@data.CarId" class="btn btn-outline-dark">Detaylar</a></td>
                                            <td><a href="/CarList/Detail/@data.CarId" class="btn btn-outline-warning">Sitede Gör</a></td>
                                            <td><a href="/CarList/Detail/@data.CarId" class="btn btn-outline-secondary">Fiyat Bilgileri</a></td>
                                        </tr>
                                    }
                                  
                                
                                </tbody>
                            </table>
                            <a href="/AdminCar/CreateCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>
                        </div>

                    </div>
                </div>

            </div>


          
        </div>

</div>


